.container {
    width: 100%;
    background-color: white;
    overflow: auto;
  }
  
  .container a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: var(--primaryGrey);
    font-size: 36px;
  }
  
  
  .active {
   
  }

 
  .searchWrap {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
  }

  .searchInput {
    margin-right: 5px;
  }