.container {
    width: 100%;
    background-color: white;
    overflow: auto;
  }
  
  .container a {
    float: left;
    text-align: center;
    padding: 15px 0;
    transition: all 0.3s ease;
    color: var(--primaryGrey);
  }

  .container a:first-child{
    width: 10%;
  }

  .container a:last-child{
    width: 15%;
    font-size: 30px;
    padding-top: 15px;

  }

  .container a:nth-child(2) {
    width: 50%;
    font-size: 20px;
    text-align: right;
    padding-right: 15px;
  }
  
  .container a:nth-child(3) {
    width: 25%;
    font-size: 30px;
  }
  
  .active {
   
  }

 
  .searchWrap {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
  }

  .searchInput {
    margin-left: 5px;
    outline:none;
    font-size:x-large;
    /* font-weight: bold; */
  }
  input.searchInput{
    outline:none;
    border: 0;
  }