.defaults {
    background: none;
    border: none;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    
    &:focus {
      border-color: transparent;
      outline: none;
      box-shadow: 0 0 1px 2px var(--primaryBlue);
    }
  
    &:hover {
      cursor: pointer;
    }
  
    &:disabled {
      cursor: not-allowed;
      /* background-color: var(--secondaryGrey);
      border-color: var(--secondaryGrey); */
      opacity: 0.4;
    }
  
    @media (--small-viewport) {
      max-width: 49.6rem;
    }
  }
  
  .link {
    text-decoration: none;
  }
  
  .theme--primary {
    background-color: var(--primaryBlue);
    border: 1px solid var(--primaryBlue);
    color: var(--mysticGrey);
  }

  .theme--primaryRed {

    background-color: var(--primaryRed);
    border: 1px solid var(--primaryRed);
    color: var(--iceBlue);

  }
  
  .theme--secondary {
    border: 1px solid var(--primaryBlue);
    color: var(--primaryGrey);
  }
  
  .theme--borderless {
    color: var(--primaryGrey);
  }
  
  .size--default {
    padding: 0.3rem 1.6rem;
    font-size: 1.6rem;
  }
  
  .size--small {
    padding: 0.2rem 1.6rem;
    font-size: 1.4rem;
  }
  
  .size--large {
    padding: 0.2rem 1.6rem;
    font-size: 1.8rem;
  }
  
  .buttonContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--fontFamily);
    
    height: 5rem;
    border-radius: .5rem;
  }
  
  .loading {
    margin-right: 0.8rem;
  }